body {
	font-family: Hack, monospace;
}

section#times {
	margin-top: 2rem;
}

.devnotes {
	display: block;
	border: 3px dashed red;
	text: red;
	background: pink;
}

/*
            _     _         _
  __ _ _ __(_) __| | __   _(_) _____      __
 / _` | '__| |/ _` | \ \ / / |/ _ \ \ /\ / /
| (_| | |  | | (_| |  \ V /| |  __/\ V  V /
 \__, |_|  |_|\__,_|   \_/ |_|\___| \_/\_/
 |___/

*/
div.day {
	width: 100%;
	/*border: dotted black 2px;*/
	margin-top: 0;
}
div.ruler-lane {
	display: inline-block;
	width : 50px;
}
div.ruler {
	width: 50px;
	position: relative;
}
div.ruler-break {
	width: 50px;
	height: 50px;
	background: lightgray;
}
div.tick {
	width: 50px;
	position: absolute;
	border-top: dotted gray 2px;
	font-size: small;
	text-align: center;
}

div.track-lane {
	width : 150px;
	margin-left: 8px;
	display: inline-block;
	vertical-align: top;
}
div.track {
	width: 150px;
	position: relative;
	vertical-align: top;
}
div.track-break {
	width: 150px;
	height: 50px;
	display: inline-block;
	background: lightgray;
	vertical-align: top;
}
div.event {
	width: 150px;
	margin-left: 10px;
	margin-right: 10px;
	position: absolute;
	border: solid gray 1px;
	font-size: small;
	overflow: hidden;
	background: lightblue;
}

.grid_entry_group_timing {
	grid-column: 1;
	grid-row : 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: yellow;
}
/*
 _ _     _           _
| (_)___| |_  __   _(_) _____      __
| | / __| __| \ \ / / |/ _ \ \ /\ / /
| | \__ \ |_   \ V /| |  __/\ V  V / 
|_|_|___/\__|   \_/ |_|\___| \_/\_/  

*/
.list_day {
	width: 100%;
	margin-top: 2em;
}
.list_day_header {
	display: block;
	background: purple;
	text-align: center;
	padding: 1em;
}
.list_day_content {
	display: flex;
	flex-direction: column;
}
.list_entry {
	border-top: 1px dotted black;
	display: grid;
	grid-template-columns: 15% 85%;
}
.list_entry_group_timing {
	grid-column: 1;
	grid-row: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: yellow;
}
.list_entry_group_meta {
	grid-column: 2;
	grid-row: 1;
}
.list_entry_time {
	font-size: larger;
}
.list_entry .people_needed {
	font-size: larger;
}
