section#times {
	margin-top: 2rem;
}

fieldset {
	border: 0;
	margin-bottom: 10px;
}

#commit_daemons .actions {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/*
            _     _         _
  __ _ _ __(_) __| | __   _(_) _____      __
 / _` | '__| |/ _` | \ \ / / |/ _ \ \ /\ / /
| (_| | |  | | (_| |  \ V /| |  __/\ V  V /
 \__, |_|  |_|\__,_|   \_/ |_|\___| \_/\_/
 |___/

*/
div.day {
	width: 100%;
	/*border: dotted black 2px;*/
	margin-top: 0;
}
div.ruler-lane {
	display: inline-block;
	width : 50px;
}
div.ruler {
	width: 50px;
	position: relative;
}
div.ruler-break {
	width: 50px;
	height: 50px;
	background: lightgray;
}
div.tick {
	width: 50px;
	position: absolute;
	border-top: dotted gray 2px;
	font-size: small;
	text-align: center;
}

div.track-lane {
	width : 150px;
	margin-left: 8px;
	display: inline-block;
	vertical-align: top;
}
div.track {
	width: 150px;
	position: relative;
	vertical-align: top;
}
div.track-break {
	width: 150px;
	height: 50px;
	margin-left: 8px;
	display: inline-block;
	vertical-align: top;
}
div.event {
	width: 150px;
	margin-left: 10px;
	margin-right: 10px;
	position: absolute;
	border: solid gray 1px;
	font-size: small;
	overflow: hidden;
}

.grid_entry_group_timing {
	grid-column: 1;
	grid-row : 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: yellow;
}
.grid_entry_group_meta {
	text-align: center;
	padding: 4px;
}
.grid_entry_group_meta .title {
	text-align: center;
	font-size: larger;
}

.grid_entry .button_change {
	position: absolute;
	width: 100%;
	height: 4rem;
	bottom: 0;
	left: 0;
	border: 0;
	background: #3ce8b3;
	font-size: 1.3rem;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
.grid_entry .button_add {
	position: absolute;
	width: 100%;
	height: 4rem;
	bottom: 0;
	left: 0;
	border: 0;
	background-color: #8835c9;
	font-size: 1.3rem;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
/*
 _ _     _           _
| (_)___| |_  __   _(_) _____      __
| | / __| __| \ \ / / |/ _ \ \ /\ / /
| | \__ \ |_   \ V /| |  __/\ V  V / 
|_|_|___/\__|   \_/ |_|\___| \_/\_/  

*/
.list_day {
	width: 100%;
	margin-top: 2em;
}
.list_day_header {
	display: block;
	background: #3ce8b3;
	text-align: center;
	padding: 1em;
}
.list_day_content {
	display: flex;
	flex-direction: column;
}
.list_entry {
	border-top: 1px dotted black;
	display: grid;
	grid-template-columns: 15% 85%;
}
.list_entry_group_timing {
	grid-column: 1;
	grid-row: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: yellow;
}
.list_entry_group_meta {
	grid-column: 2;
	grid-row: 1;
	/*
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	*/
	margin: 4px;
	display: grid;
	grid-template-columns: 40% 40% 20%;
}
.list_entry_group_meta .desc {
	grid-row 1;
	grid-column: 1;
}
.list_entry_group_meta .title {
	font-size: larger;
}
.list_entry_group_meta .needed {
	grid-row 1;
	grid-column: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
.list_entry_group_meta .action {
	grid-row 1;
	grid-column: 3;
	display: flex;
	flex-direction: row;
	justify-content: end;
}

.list_entry .button_change {
	border-radius: 0;
	border: none;
	border-bottom: 5px solid #512078;
	background-color: #3ce8b3;
	padding: 10px;
	font-size: 1.6rem;
	color: white;
	font-weight: bold;
	cursor: pointer;

}
.list_entry .button_add {
	border-radius: 0;
	border: none;
	border-bottom: 5px solid #512078;
	background-color: #8835c9;
	padding: 10px;
	font-size: 1.6rem;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

