{% include "header_vanilla.html" %}

<!-- container-->
<div class="sitebody">
	<div class="pagesection block block-narrow">
				<h1>Bedankt!</h1>
{% if not queued %}
				<p>Je bestelling is goed ontvangen. Gelieve binnen de {{ days_max }} dagen het bedrag van <strong>€ {{ price_total }}</strong> over te schrijven:</p>
					<ul>
						<li>rekeningnummer <b>{{ payment_account }}</b></li>
						<li>met mededeling <b>{{ payment_code }}</b></li>
					</ul>
				<div class="notice"><strong>Opgelet!</strong> Als we je betaling niet binnen de {{ days_max }} dagen ontvangen hebben, worden je tickets opnieuw vrijgegeven voor verkoop.</div>
	{% if price_billable > 0 %}
				<div class="notice">Je hebt één of meerdere factureerbare tickets gekocht, voor €{{ price_billable }}. Je ontvangt daarvoor spoedig een factuur.</div>
	{% endif %}
{% else %}
				<div class="notice notice-warning">Er zijn niet genoeg tickets beschikbaar voor je bestelling. We hebben je bestelling in de wachtrij gezet. Als er voldoende plaatsen vrijkomen, word je per mail verwittigd op {{ email }}.</div>
{% endif %}
				<p>Heb je een vraag? Mail naar <a href="mailto:tickets@fri3d.be">tickets@fri3d.be</a>.</p>
				<p>Je ontvangt de gegevens van je bestelling ook nog per mail op {{ email }}.</p>
    </div>
	<div class="pagesection block block-narrow">
				<h2>Nog een overzicht van je bestelling:</h2>
					<table class="order_overview">
						<thead class="order_overview_head">
							<td>Item</td>
							<td>Per stuk</td>
							<td>Aantal</td>
							<td>Totaal</td>
						</thead>
						<tbody>
					{% for i in items %}
							<tr class="order_overview_row">
								<td>
									<strong>
										{{i.product}} {% if i.person_name %} (voor {{i.person_name}}) {% endif %}
									</strong>
									<br/>
									<small>Bevat
										{{ "€%.2f + 21%% BTW"|format(i.part_vat_21_total/121*100) if i.part_vat_21_total > 0.0 }}
										{{- "<br/>"|safe + "€%.2f + 12%% BTW (bereide maaltijden)"|format(i.part_vat_12_total/112*100) if i.part_vat_12_total > 0.0 }}
										{{- "<br/>"|safe + "€%.2f + 6%% BTW (verblijf)"|format(i.part_vat_6_total/106*100) if i.part_vat_6_total > 0.0 }}
										{{- "<br/>"|safe + "€%.2f + 0%% BTW"|format(i.part_vat_0_total) if i.part_vat_0_total > 0.0 }}.
									</small>
								</td>
								<td>{{ "€%.2f"|format(i.price_single) }}
								<td>{{i.n}}</td>
								<td>{{ "€%.2f"|format(i.price_total) }}</td>
							</tr>
					{% endfor %}
						</tbody>
					</table>
		</div>
	</div>
	<div class="pagesection block block-narrow">
		<div class="notice">
			<a href="/tickets">Nog tickets bestellen</a>
		</div>
	</div>
 </div><!-- /container-->
<!-- eff your french article meme -->
{% include "footer_vanilla.html" %}
