<!doctype html>
<!-- vim: set sw=2 ts=2 expandtab : -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/vanilla.css">
    <link rel="stylesheet" href="/static/daemons/css/index.css">
  </head>
  <body>
    <header class="siteheader">
      <a href="https://www.fri3d.be/" class="headerlogo">
        <img src="/static/img/logo_white_noyear.svg" alt="Fri3d Camp">
      </a>
    </header>
    <div class="notice notice-warning block-narrow" id="js_warning">
      <p>Deze pagina vereist Javascript! Gelieve Javascript op te zetten voor deze site. Ingeval ethische bezwaren geen probleem, tickets@fri3d.be kan je manueel verderhelpen.</p>
    </div>
    <header class="pageheader block block-narrow">
      <h1>Kies jouw vrijwilligersshift</h1>
      <p>Fri3d Camp kan alleen bestaan als iedereen een steentje bijdraagt. Kies hier jouw shift.</p>
    </header>
    <div class="notice block-narrow">
      <p>Om je shifts te kiezen, vul hier het email-adres in waarmee je je tickets besteld hebt, en druk op de knop om je gegevens op te halen.</p>
      <form action="" id="identification_entry">
        <input id="identification_email" type="email"/>
        <button class="btn" id="identification_launch">opzoeken</button>
      </form>
    </div>
    <div class="notice notice-error block-narrow" id="notify_email_error" hidden>
      Woops, dit email adres heeft geen vrijwilligers.
    </div>
    <div class="notice notice-OK block-narrow" id="daemons_list_good" hidden>
        <h2>Gekozen shifts</h2>
      <ul class="daemons_list">
      </ul>
    </div>
    <div class="notice notice-error block-narrow" id="daemons_list_bad" hidden>
      <p>Deze vrijwilligers hebben nog géén shift, je kan ze hieronder een shift toekennen. Veranderingen worden direct opgeslagen.
      <ul class="daemons_list">
      </ul>
    </div>

    <section id="times_links">
    </section>
    <section id="times">
    </section>

    <template id="daemons_list_good_entry">
      <li>
        <span class="name"></span> (<span class="n_slots"></span>):
        <ul class="slots"></ul>
      </li>
    </template>
    <template id="slots_list_entry">
      <li>
        <b><span class="name"></span></b>, <span class="start"></span> - <span class="end"></span>
      </li>
    </template>
    <template id="daemons_list_bad_entry">
      <li>
        <span class="name"></span>
      </li>
    </template>

    <template id="list_day">
      <div class="list_day">
        <div class="list_day_header">
          templated day header
        </div>
        <div class="list_day_content">
        </div>
      </div>
    </template>
    <template id="list_entry">
      <div class="list_entry">
        <div class="list_entry_group_timing">
          <div class="time_start"></div>
          <div class="time_length"></div>
        </div>
        <div class="list_entry_group_meta">
          <div class="desc">
            <div class="title"></div>
            <div class="abstract"></div>
          </div>
          <div class="needed">
            <span class="people_needed"></span>
          </div>
          <div class="action">
           <button class="commit_button">add</button>
          </div>
        </div>
      </div>
    </template>

    <template id="grid_entry">
      <div class="grid_entry">
        <div class="grid_entry_group_timing">
          <span class="time_start"></span>&nbsp;(<span class="time_length"></span>)
        </div>
        <div class="grid_entry_group_meta">
          <div>
            <div class="title"></div>
            <div class="abstract"></div>
          </div>
          <div>
           <div class="people_needed"></div>
           <button class="commit_button">add</button>
          </div>
        </div>
      </div>
    </template>

    <template id="commit_daemons_list_entry">
      <div>
        <input type="checkbox" class="daemon_name_select">
        <label class="daemon_name_label">name label</label>
      </div>
    </template>

    <dialog id="commit_daemons">
      <form method="dialog">
        <div id="commit_daemons_message" class="notice notice-warning block-narrow"></div>
        <p>Kies je vrijwilligers voor deze shift:</p>
        <fieldset id="commit_daemons_list">
        </fieldset>
        <div class="actions">
          <button value="rollback" class="btn btn-rollback">Zo laten</button>
          <button value="commit" class="btn btn-commit">Opslaan</button>
        </div>
      </form>
    </dialog>
    <output></output>


    <script src="/static/daemons/ext/js/luxon.min.js" integrity="sha256-DIsAGD2EF8Qq2PCH9yzX/yt9FliJfWf+aGcdgR6tKwo=" crossorigin="anonymous"></script>
    <script src="/static/daemons/js/index.js"></script>
  </body>
</html>
